<div class="text-center p-8 bg-white dark:bg-gray-900 rounded-lg shadow-md">
  <h1 class="text-4xl text-gothic-accent dark:text-pink-300">Nosso Amor</h1>
  <div data-controller="timer"
  data-timer-days-value="<%= @duration[:days] %>"
  data-timer-hours-value="<%= @duration[:hours] %>"
  data-timer-minutes-value="<%= @duration[:minutes] %>"
  data-timer-seconds-value="<%= @duration[:seconds] %>">

<p class="text-xl text-gray-800 dark:text-gray-200 text-center">
 Estamos juntos hรก
 <span data-timer-target="output"
       class="font-semibold text-pink-700 dark:text-pink-300">
   <%= @duration[:days] %> dias, <%= @duration[:hours] %> horas,
   <%= @duration[:minutes] %> minutos e <%= @duration[:seconds] %> segundos
 </span>
</p>
</div>

</p>

  </div>

<div class="mt-8">
  <div class="flex space-x-4 overflow-x-auto pb-4">
    <% @photos.each do |photo| %>
      <% if photo.image.attached? %>
        <div class="flex-shrink-0">
          <%= image_tag photo.image, class: "mx-auto w-40 md:w-80 rounded-xl shadow-lg dark:shadow-gray-700 object-cover" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

