<!DOCTYPE html>
<html class="<%= cookies[:theme] || 'dark' %>">
  <head>
    <title><%= content_for(:title) || "Love Counter App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">

    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-stone-200 text-black dark:bg-gothic-background dark:text-gothic-text">
    <div class="fixed bottom-6 right-6 z-50">
      <button
        onclick="document.documentElement.classList.toggle('dark')"
        class="bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-100 p-2 rounded-full shadow hover:scale-105 transition-transform"
        id="themeToggle"
        aria-label="Alternar tema"
      >
        🌞
      </button>
    </div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const toggle = document.getElementById('themeToggle');

    const updateIcon = () => {
      const isDark = document.documentElement.classList.contains('dark');
      toggle.textContent = isDark ? '🌙' : '🌞';
    };

    toggle.addEventListener('click', () => {
      updateIcon();
    });

    // Atualiza ícone inicial se já estiver em modo escuro
    updateIcon();
  });
</script>


  <% if user_signed_in? %>
    <%= render 'shared/sidebar' %>
  <% end %>

  <main class="flex-1 p-6">
    <%= yield %>
  </main>

  </body>
</html>
